NEXT_PUBLIC_GTM_ID=GTM-T5L82K9C
NEXT_PUBLIC_STATICFORMS_ENDPOINT=https://api.staticforms.xyz/submit
NEXT_PUBLIC_STATICFORMS_KEY=sf_b14798mng2klecllc3dljkgb
NEXT_PUBLIC_NEWSLETTER_STATICFORMS_KEY=sf_b14798mng2klecllc3dljkgb
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=6LeshiwrAAAAAPVbR8FTS_4l-80ea1G_UyBhZuFk
NEXT_PUBLIC_RECAPTCHA_ENABLED=
NEXT_PUBLIC_FACEBOOK_DOMAIN_VERIFICATION=nk6hini7dghzylggt85l67u1es1xwv
CONTACT_EMAIL_TO=contato@devsolar.com.br
CONTACT_EMAIL_FROM=contato@devsolar.com.br
CONTACT_EMAIL_FROM_NAME=Dev Solar
RESEND_API_KEY=
RESEND_FROM_EMAIL=
